<head>
<title>Coming Soon</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/youCss.css" rel="stylesheet" media="screen">
</head>

<div class="item active">
	<img src="http://www.whentheygetolder.co.uk/photos/Food_for_thought_-_healthy_eating_tips.jpg"; alt="">

<div class="container">
<div class="caption">
<h1> Coming Soon </h1>

<p>
  ACA VA EL COPY DE MATIIIIIIIIII
</p>
<p>
  <%= link_to "Sign Up Now!", '#' %>
</p>

</div>
</div>
</div>
